:root {
    --bg-col-1: #1F1F1F;
    --bg-col-2: #2F2F2F;
    --bg-col-3: #3F3F3F;
    --bg-col-4: #4F4F4F;
    --text-col: #FFFFFF;
    --link-col: #2367b0;
    --error-col: #AF0000;
    --box-shadow-col: #0F0F0F7F;
}

body {
    margin: 0;
    background-color: var(--bg-col-2);
    color: var(--text-col);

    font-family: sans-serif;
}

a {
    color: var(--link-col);
    text-decoration: none;
}

#header {
    position: sticky;
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    background-color: var(--bg-col-1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 5px 10px var(--box-shadow-col);
}

#header button {
    width: 128px;
    height: 32px;
    margin: 16px;
}

#header div {
    margin-left: 24px;
    margin-right: 24px;
}

#body {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#upload-wrapper {
    border: 1px solid black;
    border-radius: 8px;
    padding: 24px;
    box-shadow: -5px 5px 10px var(--box-shadow-col);
}

#upload-form > div {
    width: 100%;
    margin-top: 24px;
}

#upload-form textarea {
    resize: none;
    height: auto;
}

.input-text {
    background-color: var(--bg-col-3);
    border: 1px solid black;
    border-radius: 4px;
    color: var(--text-col);
    width: 100%;
    height: 32px;
    box-shadow: -2px 2px 10px var(--bg-col-1);
}

#upload-form .btn-confirm {
    margin-left: 16%;
    width: 66%;
}

#upload-footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.flex-h {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col-1 {
    width: 33%;
}

.flex-col-2 {
    width: 66%;
}

.btn {
    border: 0;
    border-radius: 4px;
    color: var(--text-col);
    cursor: pointer;
    height: 32px;
    box-shadow: -2px 2px 10px var(--bg-col-1);
}

.btn-confirm {
    background-color: #2367b0;
}

.btn-cancel {
    background-color: #909090;
}

.error-box {
    border: 1px solid var(--error-col);
    border-radius: 2px;
}

.error-string {
    color: var(--error-col);
    text-align: center;
}