<div id="footer">
    <div class="footer-col">
        <div class="footer-row">
            Related projects
        </div>
        <div class="footer-row">
            <div>MapRandomizer:</div>
            <a href="https://maprando.com/">Website</a>
            <a href="https://github.com/blkerby/MapRandomizer">Github</a>
        </div>
        <div class="footer-row">
            <div>sm-json-data project:</div>
            <a href="https://github.com/vg-json-data/sm-json-data">Github</a>
        </div>
        <div class="footer-row">
            <div></div>
        </div>
    </div>
    <div class="footer-col">
        <div class="footer-row">
            Not officially affiliated with MapRandomizer
        </div>
        <div class="footer-row">
            Maintained by Loptr
        </div>
        <div class="footer-row">
            <a href="https://github.com/Noktuska/maprando-plando">Github</a>
            <a href="https://github.com/Noktuska/maprando-plando/releases">Releases</a>
        </div>
    </div>
</div>