<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {% include "header.html" %}
        <div id="body">
            <div id="upload-wrapper">
                <h2>Upload Seed:</h2>
                <form id="upload-form" action="upload-seed" method="POST" onsubmit="submitSeed(); return false;">
                    <div class="flex-h">
                        <div class="flex-col-1">Plando Name:</div>
                        <div class="flex-col-2">
                            <input id="plando-name" name="name" class="input-text" type="text" placeholder="Plando Name">
                        </div>
                    </div>
                    <div class="flex-h">
                        <div class="flex-col-1">Description:</div>
                        <div class="flex-col-2">
                            <textarea id="plando-desc" name="desc" class="input-text" placeholder="Description" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="flex-h">
                        <div>
                            <input id="allowSpoiler" name="allow_spoiler" class="btn-radio" type="checkbox">
                            <label for="allowSpoiler" class="btn label-radio">Unlock Spoiler Log</label>
                        </div>
                        <div>
                            <input id="allowDownload" name="allow_download" class="btn btn-radio" type="checkbox">
                            <label for="allowDownload" class="btn label-radio">Allow JSON Download</label>
                        </div>
                    </div>
                    <div class="flex-h">
                        <div><input id="plando-file" name="file" type="file"></div>
                    </div>
                    <div class="flex-h">
                        <div id="error-out" class="flex-col-1 error-string"></div>
                        <div class="flex-col-2">
                            <button id="btn-upload-submit" class="btn btn-confirm" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="upload-footer">
                Trying to create a plando? Download the plando tool <a href="https://github.com/Noktuska/maprando-plando/releases">here</a>.
            </div>
        </div>
        <div id="modal-backdrop" class="hidden"></div>
        <div id="upload-modal" class="modal hidden">
            <div id="upload-modal-content" class="modal-dialog box-shadow">
                <div>Uploading seed...</div>
                <div class="spinner"></div>
            </div>
        </div>
        <script src="/js/script.js"></script>
        <script src="/js/upload.js"></script>
    </body>
</html>